@import "fonts.scss";
@import "normalize.scss";
@import "modules/variables.scss";
@import "modules/custom.scss";
@import "modules/animation.scss";


@keyframes gradient {
    0% {
        background-position: 100% 33%; /* Start with green at the bottom third */
    }
    50% {
        background-position: 100% 40%; /* Move green to cover the middle third */
    }
    100% {
        background-position: 100% 33%; /* Return green to the bottom third */
    }
}



@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


@keyframes float {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {

		transform: translatey(0px);
	}
}

// header
@import "modules/header";


[class*="__title"] {
    opacity: 0;
    margin-bottom: 4rem;

    
    
    h2 {
        font-size: 3rem;
        font-family: 'Montserrat';
        font-weight: 600;
    }
}

[class*="__title"] {
   font-weight: 700;
}

body {
    overflow-x: hidden;
}

.hero {
    
    // background: linear-gradient(180deg, rgba(178,215,250,1) 65%, rgba(58,113,77,1) 100%);

    background: linear-gradient(-1deg, #3a714d, #3a714d, #b2d7fa, #b2d7fa);
    background-size: 100% 300%;
    animation: gradient 12s ease infinite;


    height: 100dvh;
    
    padding-top: 182px;

    transition: 2s ease;

    cursor: default;

    @media (max-width:1440px) {
        padding-top: 152px;
    }
    @media (max-width:767px) {
        padding-top: 106px;
        height: 100%;
    }

    h1, h2, p {
        font-family: Montserrat;
        font-weight: 700;
        color: #072c50;
    }
    h2 {
        font-weight: 600;

    }


    .waveWrapper {
        @media (max-width:767px) {
            overflow: hidden;
            position: relative;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            height: 173px;
        }
    }

    &__container {

    }

    // hero__wrapper
    &__wrapper {
        
    }

    // hero__text
    &__text {

        h1 {
            @media (max-width:767px) {
                font-size: 24px;
            }
        }
        h2 {
            @media (max-width:767px) {
                font-size: 20px;
            }
        }

        p {
            font-size: 20px;
            @media (max-width:767px) {
                font-size: 16px;
                text-align: left;
                max-width: unset !important;
            }
        }

        @media (max-width:1380px) {
            margin-top: 0 !important;
        }
    }
    
    // hero__tips
    &__tips {

        @media (max-width:767px) {
            row-gap: 24px;
        }

        div {
            width: fit-content;
        }

        p {
            margin-bottom: 0;
            
            max-width: 250px;
            
            font-weight: 500;
        }

        // hero__tips--badge
        &--badge {
            svg {
                width: 32px;
                height: 32px;

                fill: #082c50;
            }
        }
    }
    
    // hero_photo
    &__photo {
        max-width: 500px;

        height: fit-content;
        position: relative;

        transition: 1s ease;

        transform: translatey(0px);
        animation: float 10s ease-in-out infinite;
        
        @media (max-width:767px) {
            max-width: 200px;
        }

        &:hover {
            transition: 1s ease;
            .hero__photo {

                .hero__photo::after {
                    transition: 1s ease;
                    transform: rotate(350deg);
                }
                 .hero__photo::before {
                    transition: 1s ease;
                    transform: rotate(10deg);
                }
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #a5cbf0;
            left: 0;
            
            border-radius: 5%;
            transform: rotate(355deg);;

            z-index: 5;

            transition: 1s ease;

        }
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #3a714d;
            left: 0;
            
            border-radius: 5%;
            transform: rotate(5deg);;

            z-index: 4;

            transition: 1s ease;

        }
            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                border-radius: 5%;

                z-index: 10;

                position: relative;

                transition: 1s ease;
            }
    }




    
}

.gallery-index {

    padding-top: 120px;

    img {
       
    }

    .row {
        
    }

    // .gallery-index__title 
    &__title {
        text-align: center;
    }

    // .gallery-index__wrapper 
    &__wrapper {
        

        & > div {
            display: flex;
            flex-direction: column;
            gap: calc(var(--bs-gutter-x)* 1);;
        }
    }

    // .gallery-index__col 
    &__col {
        transition: .2s ease;

        a {
            display: inline-block; /* Убедитесь, что ссылка занимает только необходимое пространство */
            transition: .2s ease;
            border-radius: 52px;
            width: fit-content;
            height: fit-content;
    
            &:hover {
                transition: .2s ease;

    
                img.animate__animated {
                    opacity: 1; /* Показ изображения при наведении */
                    box-shadow: 0px 0px 20px 2px #0000004f;
                }
            }
        }
    
        img {
            opacity: 0;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 52px;
            transition: .2s ease; /* Плавное изменение opacity и transform */
            overflow: hidden;

            &.animate__animated {
                &:hover {
                    transition: .2s ease;
                    box-shadow: 0px 0px 20px 2px #0000004f;
                }
            }
        }
    }
    
}

.work-filter {

    &__title {
        // Стили для заголовка секции
    }

    &__button {
        // Стили для кнопок
        background-color: #b2d7fa;
        border-color: #b2d7fa;
        color: #000;
        font-weight: 500;

        transition: .2s ease;

        font-family: 'Montserrat';
        font-weight: 600;

        border: none;

        &:hover {
            transition: .2s ease;
            background-color: #072c50 !important;
            color: #fff;
        }
        &:focus {
            transition: .2s ease;
            background-color: #072c50;
            color: #fff;
        }
        &:active {
            transition: .2s ease;
            background-color: #08437e;
            color: #fff;
        }
    }

    &__image {
        transition: .2s ease;
    }

    &__controls {
        // Контейнер для элементов управления фильтром
        // Стили только для элементов, специфичных для данной секции

        &-type {
            // Контейнер для типа объекта и интерьера
        }

        &-object {
            // Отдельный блок для выбора объекта (Дом/Бизнес)

            &-options {
                // Опции фильтрации внутри объекта (Гостиная, Спальня и т.д.)
            }
        }

        &-price {
            // Блок фильтрации по цене

            &-display {
                // Отображение диапазона цены
            }
        }

        &-label {
            // Стили для лейблов внутри блока фильтрации
        }

        &-radio {
            // Стили для радиокнопок
        }

        &-radio-label {
            // Стили для лейблов радиокнопок
        }
    }

    &__result {
        // Контейнер для результатов фильтрации (карточки)

        &-item {
            // Стили для каждого элемента результата
            padding-right: calc(var(--bs-gutter-x)* .5);
            padding-left: calc(var(--bs-gutter-x)* .5);
            
            opacity: 0;
            transition: 1s ease;
        }

        &-link {
            // Ссылка на изображение в карточке
            display: flex;

            transition: .2s ease;

            overflow: hidden;

            &:hover {
                transition: .2s ease;
                .work-filter__image {
                    transition: .2s ease;
                    transform: scale(1.1);
                }
            }
            
        }

        &-image {
            // Стили для изображения
        }

        &-text {
            // Стили для текста под изображением
        }

        
    }

    &__pagination {
        // Стили для блока пагинации

        .page-item {


            &.active {
                .page-link {
                    background-color: #072c50;
                    border-color: #072c50;
                    color: #fff;
                }
            }

            .page-link {


                font-family: 'Montserrat';
                font-weight: 600;
        
                color: #072c50;
        
                &:hover {
                    transition: .2s ease;
                    background-color: #072c50 !important;
                    color: #fff;
                    border-color: #072c50;
                }
                &:focus {
                    transition: .2s ease;
                    background-color: #072c50;
                    color: #fff;
                }
                &:active {
                    transition: .2s ease;
                    background-color: #08437e;
                    color: #fff;
                }
            }
        }

        
    }
}


.benefits {
    background-color: #082c50;
    padding: 92px 0 120px;

    font-family: 'Montserrat';

    

    // benefits__title
    &__title {
        font-family: 'Montserrat';
        color: #fff;

        max-width: 800px;

        margin: 0 auto 62px;

        text-align: center;

    }

    h5 {
        font-family: 'Montserrat';
        font-weight: 600;

        margin: 1rem 0;
        
    }
    p {
        font-family: 'Montserrat';
        font-size: 18px;

        margin-top: auto;
    }

    .row {
        row-gap: calc(var(--bs-gutter-x)* 1);
    }


    // .benefits__item
    &__item {
        opacity: 0;
        cursor: default;

        
    }

    &__wrapper {
        height: 100%;
        padding: 1rem;
        background-color: #fff;


        color: #072c50;

        border-radius: 12px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: .5s ease;

        &:hover {
            transition: .5s ease;
            box-shadow: 0px 0px 20px 0px white;
        }
    }

    // .benefits__icon-wrapper

    &__icon-wrapper {
        max-width: 110px;
        width: 100px;
        aspect-ratio: 1 / 1;

        svg {
            fill: #082c50;
            rect {
                fill: #b2d7fa !important;
            }
        }

    }
}


// work-procces
.work-process {

    // .work-proccess__wrapper
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    // .work-process__step 
    &__step {
        opacity: 0;
        
    }
}


// faq 
.faq {

    background-color: #082c50;

    padding: 62px 0;

    // .faq__title
    &__title {
        color: #b2d7fa;
        text-align: center;
    }

    // .faq__accordion
    &__accordion {
        display: flex;
        flex-direction: column;
        
        gap: 1rem;

        .card {
            opacity: 0;

            cursor: pointer;
            transition: .2s ease;

            &-header {
                transition: .2s ease;
                border: none;
            }

            .full-width-btn[aria-expanded="false"] {
                i {
                    transition: .2s ease;
                    transform: rotate(0deg) !important;
                }
                
            }
            .full-width-btn {
                i {
                    transition: .2s ease;
                }
            }
            

            &:hover {
                transition: .2s ease;
                
                i {
                    transition: .2s ease;
                    background-color: #b2d7fa;
                    color: #082c50;
                }
            }
            

            &.animate__animated {
                opacity: 1;
            }
        }
        .card-body {
            border-top: 1px solid #082c50;
            color: #082c50;
            font-family: 'Montserrat';
        }
    }

    // .faq__contact
    &__contact {
        opacity: 0;

        padding: 1rem;
        background-color: #fff;
        color: #000;
        font-family: 'Montserrat';

        h4 {
            font-family: 'Montserrat';
            font-weight: 600;

        }

        .btn {
            background-color: #b2d7fa;
            border-color: #b2d7fa;
            color: #000;
            font-weight: 500;

            transition: .2s ease;

            &:hover {
                transition: .2s ease;
                background-color: #072c50;
                color: #fff;
            }
            &:focus {
                transition: .2s ease;
                background-color: #072c50;
                color: #fff;
            }
            &:active {
                transition: .2s ease;
                background-color: #08437e;
                color: #fff;
            }
        }

        
    }
}


// quiz
.quiz {
    background-color: #b2d7fa;

    overflow-x: hidden;

    .btn {
        background-color: #082c50;
        border-color: #082c50;
        
        font-family: 'Montserrat';

        &.next-step {
            background-color: #082c50;
            border-color: #082c50;
        }
        &.prev-step {
            background-color: #b2d7fa;
            border-color: #b2d7fa;
        }
    }

    .form-check, label, input {
        cursor: pointer;
        font-family: 'Montserrat';
    }

    // .quiz__wrapper
    &__wrapper {
        background-color: #fff;

        padding: 2rem;
    }

    // .quiz-step
    &-step {
        
    }
}


.quiz-step {
    display: none;
    opacity: 0;
}
.quiz-step.active {
    display: block;
    opacity: 1;
}