        /* Custom styles */
 .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3E%3Cpath fill="none" stroke="%23333" stroke-width="1.5" d="M1 4h14M1 8h14M1 12h14"/%3E%3C/svg%3E');
    color: #fff;
}




// header scss
.header {


    background-color: #fff;

    z-index: 100;

    transition: 1s ease;

    position: relative;

    .waveWrapper {
        z-index: 10;
        transform: rotate(180deg);

        display: none;
    }

    // имеет класс sticky-active
    &.sticky-active {
        transition: 1s ease;

        background-color: #082c50;

        backdrop-filter: blur(120px); /* Эффект размытия фона */
        -webkit-backdrop-filter: blur(210px); /* ВебКит для Safari и Chrome */

        h2 {
            transition: 1s ease;
            color: #fff;
        }
        
        a {
            transition: .2s ease;
            color: #fff;
        }

        .nav-mobile-menu {
            background-color: #082c50;
            color: #fff;
        }
        .header__wrapper {
            transition: 1s ease;
            background-color: #082c50;
        }
        

    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: #b2d7fa;
    }
    .nav-link {
        padding: 0;
        display: flex;
    }

    .navbar-toggler {
        display: none;
        margin-left: auto;

        z-index: 110;

        @media (max-width:991px) {
            display: block;
        }
    }
    

    a {
        transition: .2s ease;
        font-size: 20px;
        color: #082c50;
        font-weight: 500;
    }

    // header__wrapper
    &__wrapper {
        transition: 1s ease;
        background-color: #fff;
    }

    // header__logo
    &__logo {

        z-index: 110;
        h2 {

            transition: 1s ease;
            
            font-weight: bold;
            margin-bottom: 0;
            font-size: 1rem;
            color: #072c50;
            
            font-family: Nunito Sans;
        }
    }

    // header__nav
    &__nav {

        z-index: 110;
       
        &-desktop {
            @media (max-width:991px) {
                display: none !important;
            }
        }
        &-mobile {
            display: none;

            

            @media (max-width:991px) {
                display: flex;
            }

            

            
            .nav-mobile-menu {
                opacity: 1;
                transition: 1s ease;

                transform: translateY(-300px);

                position: absolute;
                width: 100%;
                background-color: #fff;
                left: 0;

                z-index: -1;

                &.open {
                    opacity: 1;
                    transition: 1s ease;
                    transform: translateY(20px);

                    .nav-mobile-menu__wrapper {
                        opacity: 1;
                        transition: 1s cubic-bezier(0.85, 0, 0.25, 1);
                    }
                }

                &__wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    padding: 42px;

                    opacity: 0;
                    transition: .25s ease;
                }
            }

            .navbar-nav {
                flex-direction: row;
                gap: 1rem;
                justify-content: center;
                align-items: center;
            }
        }

        

        // header__nav > ul
        ul {


           
            li {

            }
            a {
                font-family: Encode Sans;
                
            }
            img {
                object-fit: cover;
                object-position: center;
                max-width: 16px;
                aspect-ratio: 1;
            }
        }
    }

    // header__socials
    &__socials {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 42px;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            background-color: #b2d7fa;
        }
    }
}




.call-button {
    border-radius: 50px;
    background-color: #b2d7fa;
    border: 2px solid #b2d7fa;
    color: #082c50;

    font-family: 'Montserrat';
    font-weight: 600;
    text-transform: uppercase;

    font-size: 18px;
    
    &:hover {
        transition: .2s ease;
        background-color: #b2d7fa !important;
        color: #082c50 !important;
    }
    &:focus {
        transition: .2s ease;
        background-color: #072c50;
        color: #b2d7fa;
    }
    &:active {
        transition: .2s ease;
        background-color: #08437e;
        color: #b2d7fa;
    }


}






// footer scss
.footer {
    background-color: #001a34;

    font-family: 'Montserrat';

    .btn {
        background-color: #b2d7fa;
        font-weight: 500;
        transition: 0.2s ease;
    }

    a {
        text-decoration: none;
    }

    p, a {
        font-size: 18px;
    }


    &__policy {
        border-top: 1px solid #b2d7fa;
        padding: 42px 0;
    }
}